.banner
{
  
    top: 0px;
    left: 0px;
    background-image: url('../../../assets/images/comida.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(50%);
    filter:contrast(70%);
    filter:saturate(30%)

}
.content
{
    top: 50%;
    left: 15%;
    position: absolute;
}
.content h1 
{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
  
}
.content a 
{
    text-decoration: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 5px;
}

.content a:hover 
{
    background-color: var(--primary-color);
    color: #fff;
}

.element {
	text-shadow:
		-3px -3px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.stroke-text{
    font-size: 5em;
   font-weight: 600;
    -webkit-text-stroke:3px rgb(238, 34, 34);
    -webkit-text-fill-color:rgb(243, 242, 242);
    
    
  }


@media only screen and (max-width: 600px) {
    .content
    {
        top: 40%;
        left: 15%;
        position: absolute;
    }
    .content h1 
{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
  
}

.banner
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/comida.jpg');
   
    }

    .stroke-text{
        font-size: 3em;
    
        -webkit-text-stroke:2px rgb(238, 230, 230);
        -webkit-text-fill-color:transparent;
        
        
      }
       
  }

  

  @media only screen and (max-height: 800px) {
    .content
    {
        top: 20%;
        left: 15%;
        position: absolute;
    }
    .content h1 
{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
  
}

.banner
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/comida.jpg');
   
    }

    .stroke-text{
        font-size: 3em;
    
        -webkit-text-stroke:2px rgb(238, 230, 230);
        -webkit-text-fill-color:transparent;
        
        
      }
  }
